<footer>
  <div class="footer_top">
    <div class="inner_footer_top l_container">
      <ul class="nav_footer">
        <li><a href="__BASE_URL__">ホーム</a></li>
        <li><a href="__BASE_URL__guide/">受診案内</a></li>
        <li><a href="__BASE_URL__intro/">病院紹介</a></li>
        <li><a href="__BASE_URL__access/">交通案内</a></li>
      </ul>
      <div class="info_footer">
        <h4 class="logo_footer">
          <img src="__BASE_URL__assets/images/index/logo_fff.png" alt="社会福祉法人　小林病院">
        </h4>
        <div class="info_text">
          <p>
            〒321-0222　栃木県西区西山町2番3号<br>
            午前 9：00 ～13：00 （受付12：30まで）<br>
            午後 14：00～ 18：00（受付17：30まで）<br>
            休診日　日曜日 / 祝祭日 / 土曜日午後<br>
            TEL 028-231-2310<br>
            FAX 028-231-8866<br>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="Copyrights">
    <p>Copyrights(C) 2022 KOBAYASHI HOSPITAL. All Rights Reserved</p>
  </div>
</footer>