<header>
  <%- include('./header_info') %>

  <div class="keyvis">
    <img class="sp_only" src="<%- keyvis.sp %>" alt="">
    <img class="pc_only" src="<%- keyvis.pc %>" alt="">
  </div>

  <%- include('./header_nav') %>
</header>