<div class="nav_header">
  <ul class="flex">
    <li class="home_nav pc_only">
      <a href="__BASE_URL__">ホーム</a>
    </li>
    <li class="guide_nav">
      <a href="__BASE_URL__guide/">受診案内</a>
    </li>
    <li class="intro_nav">
      <a href="__BASE_URL__intro/">病院紹介</a>
    </li>
    <li class="access_nav">
      <a href="__BASE_URL__access/">交通案内</a>
    </li>
  </ul>
</div>