<div class="bg_message_hd">
  <div class="fontchange l_container">
    <p>文字サイズ</p>
    <ul>
      <li id="fontS">中</li>
      <li id="fontM">大</li>
      <li id="fontL">最大</li>
    </ul>
  </div>
</div>

<div class="wrap_title">
  <div class="title_header">
    <div class="inner flex">
      <h1 class="logo">
        <a href="__BASE_URL__">
          <img src="__BASE_URL__assets/images/index/logo_107539.png" alt="社会福祉法人　小林病院">
        </a>
      </h1>

      <div class="humburger">
        <div class="inner">
          <span class="nav_toggle"></span>
          <span class="nav_toggle"></span>
          <span class="nav_toggle"></span>
        </div>
        <span class="menu_humburger">MENU</span>
      </div>
    </div>
    <div class="nav_sp">
      <ul class="ul_nav_sp">
        <li class="home_nav">
          <a href="__BASE_URL__">ホーム</a>
        </li>
        <li class="guide_nav">
          <a href="__BASE_URL__guide/">受診案内</a>
        </li>
        <li class="intro_nav">
          <a href="__BASE_URL__intro/">病院紹介</a>
        </li>
        <li class="access_nav">
          <a href="__BASE_URL__access/">交通案内</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="info_header">
    <div class="tel_header">
      <p>
        お問い合わせ<span><a href="tel:028-231-1131">028-231-2310</a></span>
      </p>
    </div>
    <div class="access_header flex l_container">
      <p class="address">〒321-0222　栃木県西区西山町2番3号</p>
      <p class="btn">
        <a href="__BASE_URL__access/">
          交通案内
        </a>
      </p>
    </div>
  </div>
</div>