<div class="content_treatment l_container bg_content" id="gairai_guide">
  <h2 class="ttl_sec">外来診療科目のご案内</h2>
  <div class="menu_treatment">
    <%
      const treatmentItems = [
        [
          { href: "__BASE_URL__intro/#gairai_intro", imgSrc: "__BASE_URL__assets/images/common/treatment/naika.jpg", label: "内科" },
          { href: "__BASE_URL__intro/#gairai_intro", imgSrc: "__BASE_URL__assets/images/common/treatment/geka.jpg", label: "外科 / 肛門科" },
          { href: "__BASE_URL__intro/#gairai_intro", imgSrc: "__BASE_URL__assets/images/common/treatment/hinyou.jpg", label: "泌尿器科" },
          { href: "__BASE_URL__intro/#gairai_intro", imgSrc: "__BASE_URL__assets/images/common/treatment/ketueki.jpg", label: "血液内科" },
          { href: "__BASE_URL__intro/#gairai_intro", imgSrc: "__BASE_URL__assets/images/common/treatment/zyunkan.jpg", label: "循環器科" },
          { href: "__BASE_URL__intro/#gairai_intro", imgSrc: "__BASE_URL__assets/images/common/treatment/seikei.jpg", label: "整形外科" },
          { href: "__BASE_URL__intro/#gairai_intro", imgSrc: "__BASE_URL__assets/images/common/treatment/sougou.jpg", label: "総合診療科" }
        ],
        [
          { href: "__BASE_URL__intro/#gairai_intro", imgSrc: "__BASE_URL__assets/images/common/treatment/kinen.jpg", label: "禁煙外来" },
          { href: "__BASE_URL__intro/#gairai_intro", imgSrc: "__BASE_URL__assets/images/common/treatment/zutuu.jpg", label: "頭痛外来" }
        ]
      ];
    %>
    <% treatmentItems.forEach(function(group) { %>
      <ul>
        <% group.forEach(function(item) { %>
          <li>
            <a href="<%- item.href %>">
              <img src="<%- item.imgSrc %>" alt="<%- item.label %>">
              <p class="label"><%- item.label %></p>
            </a>
          </li>
        <% }); %>
      </ul>
    <% }); %>
  </div>
</div>